*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 50px;
	color:black;
	font-family: Rubik;
	height: auto;
}	

header{width: 100%;
	 height: 100vh;
	background-image: url(Cover.png);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Rubik;
	background-position: center;

}
.adven{
	text-shadow: 10px 10px 30px  red;
	font-family: Comic Sans MS;
	font-size: 6vh;
	color: red;
	float: left;
	align-content: center;

}

.adven:hover{
	text-shadow: 10px 10px 30px red;
	font-family: Ink Free;
	font-size: 6vh;
	color: yellow;
	float: left;
	align-content: center;
	transition: 1s ease;
	transform: translateY(50px);
	cursor: pointer;

}

.tures{
	text-shadow: 10px 10px 30px yellow;
	font-family: Comic Sans MS;
	font-size: 6vh;
	color: yellow;
	float: left;
	align-content: center;

}
.tures:hover{
	text-shadow: 10px 10px 30px yellow;
	font-family: Ink Free;
	font-size: 6vh;
	color: red;
	float: left;
	align-content: center;
	transition: 1s ease;
	transform: translateY(50px);
	 cursor: pointer;
}
.center{
	background-position: center;
	margin:auto;
    max-width: 80%;
}
.effects{
	 background-color:rgba(0,0,0,0.3); 
	 width: 100%;
	 height:10vh;
	 position: fixed;
	 
}


nav{
	float: right;
	

}

 ul{
	list-style-type: none;
		
}

 li{
    color:white;
	display: inline-block;
	padding: 50px;
	text-align: center;
	margin: 0px ;


}

a{  font-family:Rubik;
	color:white;
	background-color: rgba(0,0,0,0.2);
	border:11px solid white;
	border-style: solid;
	padding: 20px 150px ;
	font-size: 2.4vh;
    text-decoration: none;
    width:auto;
    letter-spacing: 2px;

    
}

a:hover{
	color:black;
	background-color: white; 
	transition: 0.5s ease;
}

.Home{
	color:black;
	background-color: white;
	border: 0.4vh solid Grey; 
}

.description{
	padding: 20px 50px;
	font-size: 150px;
	color: white;
	width: 1600px;
	background-color: rgba(0,0,0,0.2);
	transform: translate(0%,-800%);
	margin: auto;
	
}


